<header>
    <div class="logo-content">
        <div>
            <img class="logo-img" src="Assets/logo.png" />
        </div>
        <div>
            <p class="text text-1">EMPLOYEE</p>
            <p class="text text-2">PAYROLL</p>
        </div>
    </div>
</header>